@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    @apply antialiased text-gray-900 bg-white dark:text-gray-100 dark:bg-[#0B1220];
  }
  a {
    @apply text-primary hover:opacity-90;
  }
}
